// Environment Variables
environment {
    STEAM_FORCE_DESKTOPUI_SCALING "2"
    GDK_SCALE "1"
    NVD_BACKEND "direct"
    GTK_THEME "Adwaita-dark"
    QT_QPA_PLATFORMTHEME "qt6ct"
    XCURSOR_THEME "Bibata-Modern-Classic"
    XCURSOR_SIZE "24"
}

// Autostart
spawn-at-startup "noctalia-shell"

// Prefer no client-side decorations to help with transparent borders
prefer-no-csd

// Input Configuration
input {
    keyboard {
        xkb {
            layout "gb"
            options "fkeys:basic_13-24"
        }
    }
    touchpad {
        natural-scroll
	tap
    }
    
    // Focus windows automatically when moving the mouse over them
    focus-follows-mouse
}

// Outputs Configuration
output "eDP-1" {
    mode "2880x1800@120"
    scale 2
}

// Layout Configuration
layout {
    gaps 10 
    
    focus-ring {
        width 2
        active-gradient from="#33ccffee" to="#00ff99ee" angle=45
        inactive-color "#595959aa"
    }

    border {
        off
    }
}

// Window Decoration Rules
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    
    // Disables the solid background rendering behind the focus ring
    draw-border-with-background false
}

// Keybindings
binds {
    // Applications
    Mod+Return { spawn "kitty"; }
    Mod+Q { close-window; }
    Mod+M { quit; }
    Mod+E { spawn "kitty" "-e" "yazi"; }
    Mod+T { toggle-window-floating; }
    Mod+B { spawn "firefox"; }
    
    Mod+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+L { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }

    // Audio
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "-l" "1.0" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    // Brightness
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "5%-"; }

    // Window Focus & Sizing
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-workspace-up;  }
    Mod+Down  { focus-workspace-down; }
    Mod+F     { maximize-column; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    // Move Apps to Workspaces
    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    // Windows based switch Workspace (Up/Down)
    Ctrl+Mod+left { focus-column-first; }
    Ctrl+Mod+Right { focus-column-last; }
    Ctrl+Mod+Up   { focus-workspace-up; }  
    Ctrl+Mod+Down { focus-workspace-down; } 
}
